#autopilot {
  position:fixed;
  bottom:160px;
  right:40px;
  padding:5px;
  z-index:100;
  color:yellow
}
#accel {
  position:fixed;
  bottom:150px;
  right:24px;
  padding:5px;
  z-index:100;
  color:yellow
}
#course {
  position:fixed;
  bottom:150px;
  right:114px;
  padding:5px;
  z-index:100;
  color:yellow
}
#speed {
  position:fixed;
  bottom:130px;
  right:114px;
  padding:5px;
  z-index:100;
  color:yellow
}
#altitude {
  position:fixed;
  bottom:110px;
  right:114px;
  padding:5px;
  z-index:100;
  color:yellow
}
#lat {
  position:fixed;
  bottom:90px;
  right:114px;
  padding:5px;
  z-index:100;
  color:yellow
}
#lon {
  position:fixed;
  bottom:70px;
  right:114px;
  padding:5px;
  z-index:100;
  color:yellow
}
#course-fld {
  position:fixed;
  bottom:150px;
  right:66px;
  padding:5px;
  z-index:100;
}
#speed-fld {
  position:fixed;
  bottom:130px;
  right:66px;
  padding:5px;
  z-index:100;
  color:yellow
}
#altitude-fld {
  position:fixed;
  bottom:110px;
  right:66px;
  padding:5px;
  z-index:100;
}
#speed-acl {
  position:fixed;
  bottom:130px;
  right:20px;
  padding:5px;
  z-index:100;
  color:yellow
}
#altitude-acl {
  position:fixed;
  bottom:110px;
  right:20px;
  padding:5px;
  z-index:100;
}
#latitude-fld {
  position:fixed;
  bottom:90px;
  right:20px;
  padding:5px;
  z-index:100;
}
#longitude-fld {
  position:fixed;
  bottom:70px;
  right:20px;
  padding:5px;
  z-index:100;
}
#camera {
  position:fixed;
  bottom:140px;
  left:60px;
  padding:5px;
  z-index:100;
  color:yellow
}
#onboard {
  position:fixed;
  bottom:130px;
  left:20px;
  padding:5px;
  z-index:100;
  color:yellow
}
#onboard-fld {
  position:fixed;
  bottom:130px;
  left:84px;
  padding:5px;
  z-index:100;
}
#view {
  position:fixed;
  bottom:110px;
  left:42px;
  padding:5px;
  z-index:100;
  color:yellow
}
#view-fld {
  position:fixed;
  bottom:110px;
  left:84px;
  padding:5px;
  z-index:100;
}
#pitch {
  position:fixed;
  bottom:90px;
  left:42px;
  padding:5px;
  z-index:100;
  color:yellow
}
#pitch-fld {
  position:fixed;
  bottom:90px;
  left:84px;
  padding:5px;
  z-index:100;
}
#roll {
  position:fixed;
  bottom:70px;
  left:48px;
  padding:5px;
  z-index:100;
  color:yellow
}
#roll-fld {
  position:fixed;
  bottom:70px;
  left:84px;
  padding:5px;
  z-index:100;
}