#autopilot {
  position:fixed;
  bottom:290px;
  right:40px;
  padding:5px;
  z-index:100;
  color:yellow
}
#course {
  position:fixed;
  bottom:280px;
  right:80px;
  padding:5px;
  z-index:100;
  color:yellow
}
#speed {
  position:fixed;
  bottom:260px;
  right:80px;
  padding:5px;
  z-index:100;
  color:yellow
}
#altitude {
  position:fixed;
  bottom:240px;
  right:80px;
  padding:5px;
  z-index:100;
  color:yellow
}
#lat {
  position:fixed;
  bottom:220px;
  right:80px;
  padding:5px;
  z-index:100;
  color:yellow
}
#lon {
  position:fixed;
  bottom:200px;
  right:80px;
  padding:5px;
  z-index:100;
  color:yellow
}
#course-fld {
  position:fixed;
  bottom:280px;
  right:32px;
  padding:5px;
  z-index:100;
}
#speed-fld {
  position:fixed;
  bottom:260px;
  right:32px;
  padding:5px;
  z-index:100;
  color:yellow
}
#altitude-fld {
  position:fixed;
  bottom:240px;
  right:32px;
  padding:5px;
  z-index:100;
}
#speed-tmp {
  position:fixed;
  bottom:260px;
  right:20px;
  padding:5px;
  z-index:100;
  color:yellow
}
#altitude-tmp {
  position:fixed;
  bottom:240px;
  right:20px;
  padding:5px;
  z-index:100;
}
#latitude-fld {
  position:fixed;
  bottom:220px;
  right:20px;
  padding:5px;
  z-index:100;
}
#longitude-fld {
  position:fixed;
  bottom:200px;
  right:20px;
  padding:5px;
  z-index:100;
}
#camera {
  position:fixed;
  bottom:140px;
  right:40px;
  padding:5px;
  z-index:100;
  color:yellow
}
#onboard {
  position:fixed;
  bottom:130px;
  right:120px;
  padding:5px;
  z-index:100;
  color:yellow
}
#onboard-fld {
  position:fixed;
  bottom:130px;
  right:20px;
  padding:5px;
  z-index:100;
}
#view {
  position:fixed;
  bottom:110px;
  right:120px;
  padding:5px;
  z-index:100;
  color:yellow
}
#view-fld {
  position:fixed;
  bottom:110px;
  right:20px;
  padding:5px;
  z-index:100;
}
#pitch {
  position:fixed;
  bottom:90px;
  right:120px;
  padding:5px;
  z-index:100;
  color:yellow
}
#pitch-fld {
  position:fixed;
  bottom:90px;
  right:20px;
  padding:5px;
  z-index:100;
}
#roll {
  position:fixed;
  bottom:70px;
  right:120px;
  padding:5px;
  z-index:100;
  color:yellow
}
#roll-fld {
  position:fixed;
  bottom:70px;
  right:20px;
  padding:5px;
  z-index:100;
}
#hud {
  position:fixed;
  bottom:50px;
  right:120px;
  padding:5px;
  z-index:100;
  color:yellow
}
#hud-fld {
  position:fixed;
  bottom:50px;
  right:20px;
  padding:5px;
  z-index:100;
}