#map {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}
#mousepos {
  position:fixed;
  bottom:10px;
  left:10px;
  padding:5px;
  z-index:100;
}
#commands-header {
  position:fixed;
  bottom:50px;
  left:10px;
  padding:5px;
  z-index:100;
}
#commands {
  position:fixed;
  bottom:40px;
  left:10px;
  padding:5px;
  z-index:100;
}
#element1 {
  position:fixed;
  bottom:40px;
  left:160px;
  padding:5px;
  z-index:100;
}
#element2 {
  position:fixed;
  bottom:40px;
  left:310px;
  padding:5px;
  z-index:100;
}
#element3 {
  position:fixed;
  bottom:40px;
  left:460px;
  padding:5px;
  z-index:100;
}
#element4 {
  position:fixed;
  bottom:40px;
  left:610px;
  padding:5px;
  z-index:100;
}