#map {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
#mousepos {
  position:fixed;
  bottom:10px;
  left:10px;
  padding:5px;
  z-index:100;
}
#commands-header {
  position:fixed;
  bottom:50px;
  left:10px;
  padding:5px;
  z-index:100;
}
#commands {
  position:fixed;
  bottom:40px;
  left:10px;
  padding:5px;
  z-index:100;
}
#element1 {
  position:fixed;
  bottom:40px;
  left:160px;
  padding:5px;
  z-index:100;
}
#element2 {
  position:fixed;
  bottom:60px;
  left:160px;
  padding:5px;
  z-index:100;
}
#element3 {
  position:fixed;
  bottom:80px;
  left:160px;
  padding:5px;
  z-index:100;
}
#element4 {
  position:fixed;
  bottom:100px;
  left:160px;
  padding:5px;
  z-index:100;
}
#element5 {
  position:fixed;
  bottom:120px;
  left:160px;
  padding:5px;
  z-index:100;
}#element6 {
  position:fixed;
  bottom:140px;
  left:160px;
  padding:5px;
  z-index:100;
}
#questions-header {
  position:fixed;
  bottom:50px;
  right:10px;
  padding:5px;
  z-index:100;
}
#questions {
  position:fixed;
  bottom:40px;
  right:10px;
  padding:5px;
  z-index:100;
}